<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id="helloWorld" class="com.test.HelloWorld" init-method="init" destroy-method = "destroy"
     parent = "parentHelloWorld">
       <property name="message" value="Hello World!"/>
   </bean>
    <bean name="studentBean" class="com.test.TypeMap">  
 
      <property name="memap">  
           <map>  
                <entry key="Monday" value-ref="helloWorld"/>   
           </map>  
      </property>
    </bean>
    <bean class="com.test.InitHelloWorld" />
    <bean class="com.test.ParentHelloWorld" abstract = "true" id="parentHelloWorld"/>
    
    
    <bean id="textEditor" class="com.test1.TextEditor">
      <constructor-arg ref="spellChecker"/>
   </bean>

   <!-- Definition for spellChecker bean -->
   <bean id="spellChecker" class="com.test1.SpellChecker">
   </bean>
    
</beans>